<!DOCTYPE html>  


<html>



<head>

    <link rel="stylesheet" href ="/css/styles.css">
    <script src="/js/jsapp.js"> </script>


    </head>


    <body>

        <h1> index page </h1>
        </body>




</html> 